.form {
    display:flex;
    justify-content: space-between;
    //padding-left: 5vw;
    padding-right: 0;
    margin-right: 0;
    margin-left: 20px;
    margin-top: 20px;
    button {
        @include button-styling;
        font-size: 0.8em;

    }
    .buttons {
        margin-left: 40px;
        margin-right: 0;
    }

    input {
        @include textbox-styling;
        font-size: 1.1em;
        max-width: 72%;
    }
}